# Copyright (c) 2022 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

# The installer job is where the magic happens. It generates
# the config, installs Gitpod and then deletes itself when
# it's finished
apiVersion: batch/v1
kind: Job
metadata:
  # Appending cursor allows us to replace with new versions
  name: installer-{{repl Cursor }}
  labels:
    app: gitpod
    component: gitpod-installer
    cursor: "{{repl Cursor }}"
spec:
  backoffLimit: 1
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      labels:
        app: gitpod
        component: gitpod-installer
        cursor: "{{repl Cursor }}"
    spec:
      affinity:
        nodeAffinity:
          # Same affinity as ws-daemon as detecting the containerd location
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: gitpod.io/workload_workspace_regular
                  operator: Exists
              - matchExpressions:
                - key: gitpod.io/workload_workspace_headless
                  operator: Exists
      serviceAccountName: kotsadm
      restartPolicy: OnFailure
      containers:
        - name: installer
          # This will normally be the release tag
          image: "eu.gcr.io/gitpod-core-dev/build/installer:sje-installer-fixes.0"
          volumeMounts:
            - mountPath: /mnt/node0
              name: node-fs0
              readOnly: true
            - mountPath: /tmp
              name: temp-storage
          env:
            - name: MOUNT_PATH
              value: /mnt/node0
            - name: REGISTRY_DOCKER_CONFIG_JSON
              valueFrom:
                secretKeyRef:
                  name: custom-registry-credentials
                  key: .dockerconfigjson
                  optional: true
            - name: EXTERNAL_DOCKER_CONFIG_JSON
              valueFrom:
                secretKeyRef:
                  name: external-container-registry
                  key: .dockerconfigjson
                  optional: true
            - name: LOCAL_REGISTRY_IMAGE_PULL_DOCKER_CONFIG_JSON
              valueFrom:
                secretKeyRef:
                  name: repl{{ ImagePullSecretName | quote }}
                  key: .dockerconfigjson
                  optional: true
          envFrom:
            - configMapRef:
                name: gitpod-kots-config
          command:
            - /app/scripts/kots-install.sh
      volumes:
        - name: node-fs0
          hostPath:
            path: /
            type: Directory
        - name: temp-storage
          emptyDir: {}
