# Copyright (c) 2022 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

# The installer job is where the magic happens. It generates
# the config, installs Gitpod and then deletes itself when
# it's finished
apiVersion: batch/v1
kind: Job
metadata:
  # Appending cursor allows us to replace with new versions
  name: installer-{{repl Cursor }}
  labels:
    app: gitpod
    component: gitpod-installer
    cursor: "{{repl Cursor }}"
spec:
  backoffLimit: 1
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      labels:
        app: gitpod
        component: gitpod-installer
        cursor: "{{repl Cursor }}"
    spec:
      affinity:
        nodeAffinity:
          # Same affinity as ws-daemon as detecting the containerd location
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: gitpod.io/workload_workspace_regular
                  operator: Exists
              - matchExpressions:
                - key: gitpod.io/workload_workspace_headless
                  operator: Exists
      serviceAccountName: installer
      restartPolicy: OnFailure
      containers:
        - name: installer
          # This will normally be the release tag
          image: "eu.gcr.io/gitpod-core-dev/build/installer:sje-installer-proxy-config.23"
          volumeMounts:
            - mountPath: /config-patch
              name: config-patch
              readOnly: true
            - mountPath: /mnt/node0
              name: node-fs0
              readOnly: true
          env:
            - name: CONFIG_FILE
              value: /tmp/gitpod-config.yaml
            - name: CONFIG_PATCH_FILE
              value: /config-patch/gitpod-config-patch.yaml
            - name: CUSTOMIZATION_PATCH_FILE
              value: /config-patch/customization-patch.yaml
            - name: CONTAINERD_DIR_K3S
              value: /run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io
            - name: CONTAINERD_SOCKET_K3S
              value: /run/k3s/containerd/containerd.sock
            - name: CONTAINERD_DIR_AL
              value: /run/containerd/io.containerd.runtime.v2.task/k8s.io
            - name: CONTAINERD_SOCKET_AL
              value: /run/containerd/containerd.sock
            - name: GITPOD_OBJECTS
              value: /tmp/gitpod
          envFrom:
            - configMapRef:
                name: gitpod-kots-config
          command:
            - /app/scripts/kots-install.sh
      volumes:
        - name: config-patch
          configMap:
            name: gitpod-config-patch
        - name: node-fs0
          hostPath:
            path: /
            type: Directory
