<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDE host</title>
    <style>
        body {
            margin: 0;
        }
        iframe {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            border: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            z-index: 999999
        }
    </style>
</head>
<body>
    <iframe src="/?gitpod-ide-index"></iframe>
</body>
</html>