{
	auto_https off
	admin off
}
(static) {
	@static_path {
		path /static/* /favicon* /manifest.json
	}

	@static_asset {
		file
		path /static/* /favicon* /manifest.json
	}

    rewrite /static/bin/gitpod-local-companion-linux /static/bin/gitpod-local-companion-linux-amd64
    rewrite /static/bin/gitpod-local-companion-darwin /static/bin/gitpod-local-companion-darwin-amd64
    rewrite /static/bin/gitpod-local-companion-windows.exe /static/bin/gitpod-local-companion-windows-amd64.exe
    rewrite /static/bin/gitpod-local-companion-linux.gz /static/bin/gitpod-local-companion-linux-amd64.gz
    rewrite /static/bin/gitpod-local-companion-darwin.gz /static/bin/gitpod-local-companion-darwin-amd64.gz
    rewrite /static/bin/gitpod-local-companion-windows.exe.gz /static/bin/gitpod-local-companion-windows-amd64.exe.gz

	@bin_asset {
		file
		path /static/bin/*
	}

	# static assets configure cache headers and do not check for changes
	header @static_asset {
		Cache-Control "public, max-age=31536000"
		# remove Last-Modified header
		-Last-Modified
	}

	header @bin_asset {
		Content-Type application/octet-stream
		Content-Disposition attachment
	}
}

(notstatic) {
	@not_static_path {
		not path /static/*
	}

	@not_static_assets {
		not path /static/*
	}

	header @not_static_assets {
		Cache-Control "no-cache, no-transform, must-revalidate"
	}
}

:80 {
	import static
	import notstatic

	redir /.well-known/security.txt https://www.gitpod.io/.well-known/security.txt permanent
	redir /environment-variables /settings/ permanent

	rewrite /schemas/gitpod-schema.json /static/schemas/gitpod-schema.json

	header -Server

	root * /www
	file_server {
		precompressed gzip br
	}

	handle @static_path {
		try_files {path}
	}

	handle @not_static_path {
		try_files {path} {path}/ /index.html
	}

	handle {
        respond "404 - Not Found" 404
    }
}

# health-check
:8080 {
	respond /live 200
	respond /ready 200
}
