{
	auto_https off
	admin off
}

(compression) {
	encode zstd gzip
}

(discard_log) {
	log {
		output discard
	}
}

:80 {
	@static {
		path /static/*
	}

	@notstatic {
		not path /static/*
	}

	import compression
	import discard_log

	redir /.well-known/security.txt https://www.gitpod.io/.well-known/security.txt permanent
	redir /environment-variables /settings/ permanent

	handle @static {
		header Cache-Control "public, max-age=31536000"
	}

	handle @notstatic {
		header Cache-Control "no-cache, no-transform, must-revalidate"
	}

	header -Server
	header -Last-Modified

	root * /www
	file_server
	try_files {path} {path}/ /index.html
}

# health-check
:8080 {
	import discard_log

	respond /live 200
	respond /ready 200
}
