#
# For the CODEONWERS file we don't want to have a specific CODEOWNER.
# A single review from anyone who is allowed to review PRs is sufficent.
#
/.github/CODEOWNERS

/components/blobserve @gitpod-io/engineering-ide
/components/common-go @gitpod-io/engineering-workspace @gitpod-io/engineering-webapp
/components/content-service-api @gitpod-io/engineering-workspace
/components/content-service @gitpod-io/engineering-workspace
/components/dashboard @gitpod-io/engineering-webapp
/components/docker-up @gitpod-io/engineering-workspace
/components/ee/agent-smith @gitpod-io/engineering-workspace
/components/ee/db-sync @gitpod-io/engineering-webapp
/components/ee/payment-endpoint @gitpod-io/engineering-webapp
/components/gitpod-cli @gitpod-io/engineering-ide
/components/gitpod-db @gitpod-io/engineering-webapp
/components/gitpod-messagebus @gitpod-io/engineering-webapp
/components/gitpod-protocol @gitpod-io/engineering-webapp
/components/gitpod-protocol/java @gitpod-io/engineering-ide
/components/ide @gitpod-io/engineering-ide
/components/ide-metrics @gitpod-io/engineering-ide
/components/ide-metrics-api @gitpod-io/engineering-ide
/components/ide-service @gitpod-io/engineering-ide
/components/ide-service-api @gitpod-io/engineering-ide
/components/ide-proxy @gitpod-io/engineering-ide
/components/image-builder-api @csweichel @geropl
/components/image-builder-bob @gitpod-io/engineering-workspace
/components/image-builder-mk3 @gitpod-io/engineering-workspace
/components/installation-telemetry @gitpod-io/engineering-delivery-operations-experience
/components/kots-config-check @gitpod-io/engineering-delivery-operations-experience
/components/toxic-config @gitpod-io/engineering-webapp
/install @gitpod-io/engineering-delivery-operations-experience
/install/installer @gitpod-io/engineering-delivery-operations-experience
# For testdata a single review from anyone who is allowed to review PRs is sufficent.
/install/installer/cmd/testdata
/install/installer/pkg/components/agent-smith @gitpod-io/engineering-workspace
/install/installer/pkg/components/blobserve @gitpod-io/engineering-ide
/install/installer/pkg/components/components-webapp @gitpod-io/engineering-webapp
/install/installer/pkg/components/components-workspace @gitpod-io/engineering-workspace
/install/installer/pkg/components/content-service @gitpod-io/engineering-workspace
/install/installer/pkg/components/dashboard @gitpod-io/engineering-webapp
/install/installer/pkg/components/ide-metrics @gitpod-io/engineering-ide
/install/installer/pkg/components/ide-service @gitpod-io/engineering-ide
/install/installer/pkg/components/ide-proxy @gitpod-io/engineering-ide
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/engineering-workspace
/install/installer/pkg/components/openvsx-proxy @gitpod-io/engineering-ide
/install/installer/pkg/components/proxy @gitpod-io/engineering-webapp
/install/installer/pkg/components/registry-facade @gitpod-io/engineering-workspace
/install/installer/pkg/components/public-api-server @gitpod-io/engineering-webapp
/install/installer/pkg/components/server @gitpod-io/engineering-webapp
/install/installer/pkg/components/server/ide @gitpod-io/engineering-ide
/install/installer/pkg/components/usage @gitpod-io/engineering-webapp
/install/installer/pkg/components/toxiproxy @gitpod-io/engineering-webapp
/install/installer/pkg/components/usage-api @gitpod-io/engineering-webapp
/install/installer/pkg/components/workspace @gitpod-io/engineering-workspace
/install/installer/pkg/components/workspace/ide @gitpod-io/engineering-ide
/install/installer/pkg/components/ws-daemon @gitpod-io/engineering-workspace
/install/installer/pkg/components/ws-manager @gitpod-io/engineering-workspace
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/engineering-webapp
/install/installer/pkg/components/ws-proxy @gitpod-io/engineering-workspace
/install/installer/pkg/config/versions @gitpod-io/engineering-ide
/components/licensor @gitpod-io/engineering-webapp
/components/local-app-api @csweichel @akosyakov
/components/local-app @gitpod-io/engineering-ide
/components/openvsx-proxy @gitpod-io/engineering-ide
/components/proxy @gitpod-io/engineering-webapp
/components/public-api @csweichel @akosyakov @easyCZ @gitpod-io/engineering-webapp
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/engineering-workspace @gitpod-io/engineering-webapp @gitpod-io/engineering-delivery-operations-experience @gitpod-io/engineering-ide
/components/public-api-server @gitpod-io/engineering-webapp
/components/registry-facade-api @csweichel @aledbf
/components/registry-facade @gitpod-io/engineering-workspace
/components/server @gitpod-io/engineering-webapp
/components/service-waiter @gitpod-io/engineering-webapp
/components/supervisor-api/*.proto @csweichel @akosyakov
/components/supervisor @gitpod-io/engineering-ide
/components/usage @gitpod-io/engineering-webapp
/components/usage-api @gitpod-io/engineering-webapp
/components/workspacekit @gitpod-io/engineering-workspace
/components/ws-daemon-api @aledbf @Furisto
/components/ws-daemon @gitpod-io/engineering-workspace
/components/ws-manager-api @aledbf @sagor999
/components/ws-manager-bridge-api @gitpod-io/engineering-webapp
/components/ws-manager-bridge @gitpod-io/engineering-webapp
/components/ws-manager @gitpod-io/engineering-workspace
/components/ws-proxy @gitpod-io/engineering-workspace
/dev/gpctl @gitpod-io/engineering-workspace
/dev/gpctl/api/ @gitpod-io/engineering-webapp
/dev/loadgen @gitpod-io/engineering-workspace
/dev/preview @gitpod-io/devx
/operations/observability/mixins @gitpod-io/engineering-delivery-operations-experience
/operations/observability/mixins/platform @gitpod-io/devx
/operations/observability/mixins/IDE @gitpod-io/engineering-ide
/operations/observability/mixins/meta @gitpod-io/engineering-webapp
/operations/observability/mixins/workspace @gitpod-io/engineering-workspace
/operations/observability/mixins/cross-teams @gitpod-io/engineering-workspace @gitpod-io/engineering-webapp @gitpod-io/engineering-ide @gitpod-io/devx @gitpod-io/engineering-delivery-operations-experience

/.werft/observability @gitpod-io/engineering-delivery-operations-experience

/.werft/ide-* @gitpod-io/engineering-ide
/.werft/platform-* @gitpod-io/devx
/.werft/webapp-* @gitpod-io/engineering-webapp
/.werft/workspace-* @gitpod-io/engineering-workspace
/.werft/self-hosted-* @gitpod-io/engineering-delivery-operations-experience
/.werft/*installer-tests* @gitpod-io/engineering-delivery-operations-experience
/.werft/jobs/build/self-hosted-* @gitpod-io/engineering-delivery-operations-experience

/dev/preview/infrastructure/harvester @gitpod-io/devx
/dev/preview/workflow @gitpod-io/devx

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
