# installer test output
install/installer/cmd/testdata/render/**/*.golden linguist-generated=true

# gRPC and Protobuf
components/**/*.pb.go linguist-generated=true
components/**/*_grpc.pb.go linguist-generated=true
components/**/*_pb.js linguist-generated=true
components/**/*_pb.ts linguist-generated=true
components/**/*_pb.d.ts linguist-generated=true
components/**/*_connectweb.ts linguist-generated=true
components/**/*.pb.ts linguist-generated=true

**/go.sum linguist-generated=true
