go 1.19

use (
	./components/blobserve
	./components/common-go
	./components/content-service
	./components/content-service-api/go
	./components/content-service-api/typescript/util
	./components/ee/agent-smith
	./components/ee/agent-smith/cmd/testbed
	./components/ee/agent-smith/cmd/testtarget
	./components/gitpod-cli
	./components/gitpod-protocol/go
	./components/ide-metrics
	./components/ide-metrics-api
	./components/ide-metrics-api/go
	./components/ide-service
	./components/ide-service-api/go
	./components/ide/code-desktop/status
	./components/ide/code/codehelper
	./components/ide/jetbrains/cli
	./components/ide/jetbrains/image/status
	./components/image-builder-api
	./components/image-builder-api/go
	./components/image-builder-bob
	./components/image-builder-mk3
	./components/installation-telemetry
	./components/kots-config-check/registry
	./components/licensor
	./components/local-app
	./components/local-app-api
	./components/local-app-api/go
	./components/openvsx-proxy
	./components/public-api
	./components/public-api-server
	./components/public-api/go
	./components/registry-facade
	./components/registry-facade-api
	./components/registry-facade-api/go
	./components/service-waiter
	./components/supervisor
	./components/supervisor-api
	./components/supervisor-api/go
	./components/usage
	./components/usage-api
	./components/usage-api/go
	./components/workspacekit
	./components/ws-daemon
	./components/ws-daemon-api
	./components/ws-daemon-api/go
	./components/ws-daemon/nsinsider
	./components/ws-daemon/seccomp-profile-installer
	./components/ws-manager
	./components/ws-manager-api
	./components/ws-manager-api/go
	./components/ws-manager-bridge-api
	./components/ws-manager-bridge-api/go
	./components/ws-proxy
)
