# Copyright (c) 2020 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: server
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: server
    kind: role
    stage: {{ .Values.installation.stage }}
rules:
- apiGroups:
  - ''
  resources:
  - services
  verbs:
  - get
  - list
  - create
  - update
  - patch
  - watch
  - delete
  - deletecollection
- apiGroups:
  - ''
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - list
  - create
  - update
  - patch
  - watch
  - delete
  - deletecollection