# Copyright (c) 2020 TypeFox GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

{{ $comp := .Values.components.wsManagerNode -}}
{{- $this := dict "root" . "gp" $.Values "comp" $comp -}}
{{- if not $comp.disabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ws-manager-node
  labels:
    app: {{ template "gitpod.fullname" $ }}
    component: ws-manager-node
    kind: daemonset
    stage: {{ .Values.installation.stage }}
spec:
  selector:
    matchLabels:
      app: {{ template "gitpod.fullname" $ }}
      component: ws-manager-node
      kind: daemonset
      stage: {{ .Values.installation.stage }}
  template:
    metadata:
      labels:
        app: {{ template "gitpod.fullname" $ }}
        component: ws-manager-node
        kind: daemonset
        stage: {{ .Values.installation.stage }}
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path: "/metrics"
        prometheus.io/port: '9500'
        checksum/tlskey: {{ include (print $.Template.BasePath "/ws-manager-node-tlssecret.yaml") $ | sha256sum }}
    spec:
{{ include "gitpod.workspaceAffinity" $this | indent 6 }}
      serviceAccountName: ws-manager-node
      hostPID: true
      volumes:
      - hostPath:
          path: {{ .Values.components.wsSync.hostWorkspaceArea }}
          type: DirectoryOrCreate
        name: wssync-workingarea
      - name: containerd-socket
        hostPath:
          path: {{ $comp.containerdSocket | default "/run/containerd/containerd.sock" }}
          type: Socket
      - name: node-cgroups
        hostPath:
          path: {{ $comp.cgroupsRoot | default "/sys/fs/cgroup" }}
          type: Directory
      - name: node-hosts
        hostPath:
          path: {{ $comp.nodeHosts | default "/etc/hosts" }}
          type: File
      - name: tls-certs
        secret:
          secretName: ws-manager-node-tls
      - name: config
        configMap:
          name: ws-manager-node-config
{{- if $comp.volumes }}
{{ toYaml $comp.volumes | indent 6 }}
{{- end }}
      containers:
      - name: ws-manager-node
        volumeMounts:
        - mountPath: /mnt/wssync-workingarea
          name: wssync-workingarea
          mountPropagation: Bidirectional
        - mountPath: /mnt/containerd.sock
          name: containerd-socket
        - mountPath: /mnt/node-cgroups
          name: node-cgroups
          mountPropagation: HostToContainer
        - mountPath: /mnt/hosts
          name: node-hosts
        - mountPath: /config
          name: config
        - mountPath: /certs
          name: tls-certs
{{- if $comp.volumeMounts }}
{{ toYaml $comp.volumeMounts | indent 8 }}
{{- end }}
        args: ["run", "-v", "--config", "/config/config.json"]
        image: {{ template "gitpod.comp.imageFull" $this }}
{{ include "gitpod.container.imagePullPolicy" $this | indent 8 }}
{{ include "gitpod.container.resources" $this | indent 8 }}
{{ include "gitpod.container.defaultEnv" $this | indent 8 }}
{{ include "gitpod.container.tracingEnv" $this | indent 8 }}
        - name: NODENAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        ports:
        - name: registry-proxy
          containerPort: {{ $comp.registryProxyPort }}
          hostPort: {{ $comp.registryProxyPort }}
        - name: metrics
          containerPort: 9500
        securityContext:
          privileged: true
{{ toYaml .Values.defaults | indent 6 }}
{{ end }}