# Copyright (c) 2020 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

{{ $comp := .Values.components.wsManagerBridge -}}
{{- $this := dict "root" . "gp" $.Values "comp" $comp -}}
{{- if not $comp.disabled -}}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ws-manager-bridge
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: ws-manager-bridge
    kind: role-binding
    stage: {{ .Values.installation.stage }}
subjects:
- kind: ServiceAccount
  name: ws-manager-bridge
roleRef:
  kind: ClusterRole
  name: {{ .Release.Namespace }}-ns-psp:unprivileged
  apiGroup: rbac.authorization.k8s.io

---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Namespace }}-ws-manager-bridge-kube-rbac-proxy
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: ws-manager-bridge
    kind: role-binding
    stage: {{ .Values.installation.stage }}
subjects:
- kind: ServiceAccount
  name: ws-manager-bridge
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name:  {{ .Release.Namespace }}-kube-rbac-proxy
  apiGroup: rbac.authorization.k8s.io

{{ end }}