# Copyright (c) 2020 TypeFox GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ .Release.Namespace }}-ns-ws-sync
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: ws-sync
    kind: clusterrole
    stage: {{ .Values.installation.stage }}
rules:
- apiGroups:
  - "policy"
  resources:
  - "podsecuritypolicies"
  verbs:
  - "use"
  resourceNames:
  - "{{ .Release.Namespace }}-ns-privileged-unconfined"