# Copyright (c) 2020 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

{{ $comp := .Values.components.wsScheduler -}}
{{- $this := dict "root" . "gp" $.Values "comp" $comp -}}
{{- if not $comp.disabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ws-scheduler
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: ws-scheduler
    kind: deployment
    stage: {{ .Values.installation.stage }}
spec:
  selector:
    matchLabels:
      app: {{ template "gitpod.fullname" . }}
      component: ws-scheduler
      kind: pod
      stage: {{ .Values.installation.stage }}
  replicas: {{ $comp.replicas | default 1 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      name: ws-scheduler
      labels:
        app: {{ template "gitpod.fullname" . }}
        component: ws-scheduler
        kind: pod
        stage: {{ .Values.installation.stage }}
    spec:
      priorityClassName: system-node-critical
{{ include "gitpod.pod.affinity" $this | indent 6 }}
      serviceAccountName: ws-scheduler
      securityContext:
        runAsUser: 31002
      volumes:
      - name: config
        configMap:
          name: {{ template "gitpod.comp.configMap" $this }}
      - name: ws-manager-client-tls-certs
        secret:
          secretName: {{ .Values.components.wsManager.tls.client.secretName }}
      enableServiceLinks: false
      containers:
      - name: scheduler
        args: ["run", "--config", "/config/config.json"]
        image: {{ template "gitpod.comp.imageFull" $this }}
{{ include "gitpod.container.imagePullPolicy" $this | indent 8 }}
{{ include "gitpod.container.resources" $this | indent 8 }}
{{ include "gitpod.container.ports" $this | indent 8 }}
        volumeMounts:
        - name: config
          mountPath: "/config"
          readOnly: true
        - mountPath: /ws-manager-client-tls-certs
          name: ws-manager-client-tls-certs
          readOnly: true
        securityContext:
          privileged: false
{{ include "gitpod.container.defaultEnv" $this | indent 8 }}
{{ include "gitpod.container.tracingEnv" $this | indent 8 }}
{{ include "gitpod.kube-rbac-proxy" $this | indent 6 }}
{{ toYaml .Values.defaults | indent 6 }}
{{ end }}
