# Copyright (c) 2020 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ws-scheduler
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: ws-scheduler
    kind: networkpolicy
    stage: {{ .Values.installation.stage }}
spec:
  podSelector:
    matchLabels:
      app: {{ template "gitpod.fullname" . }}
      component: ws-scheduler
  policyTypes:
  - Ingress
  ingress:
  - {}