# Copyright (c) 2020 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ .Release.Namespace }}-ns-ws-scheduler
  labels:
    app: {{ template "gitpod.fullname" . }}
    component: ws-scheduler
    kind: role
    stage: {{ .Values.installation.stage }}
rules:
  - apiGroups:
    - ""
    resources:
    - "nodes"
    verbs:
    - "get"
    - "list"
    - "watch"
  - apiGroups:
    - ""
    resources:
    - "pods"
    verbs:
    - "delete"
    - "get"
    - "list"
    - "watch"
    - "update"
    - "patch"
  - apiGroups:
    - ""
    resources:
    - "pods/status"
    verbs:
    - "update"
  - apiGroups:
    - ""
    resources:
    - "pods/binding"
    - "events"
    verbs:
    - "create"
  - apiGroups:
    - "policy"
    resources:
    - "podsecuritypolicies"
    verbs:
    - "use"
    resourceNames:
    - "{{ .Release.Namespace }}-ns-unprivileged"
