installation:
  stage: devstaging
  tenant: gitpod-core
  region: europe-west1
  cluster: "00"
  shortname: "k3s"
hostname: staging.gitpod-dev.com
imagePrefix: eu.gcr.io/gitpod-core-dev/build/
certificatesSecret:
  secretName: proxy-config-certificates
version: not-set
imagePullPolicy: Always
authProviders: []
tracing:
  endoint: http://jaeger-collector:14268/api/traces
  samplerType: const
  samplerParam: "1"

components:
  wsManagerBridge:
    disabled: true

  agentSmith:
    name: "agent-smith"
    disabled: false
    # in preview envs, we never want DaemonSets not to be scheduled (because they don't trigger scaleup)
    resources:
      cpu: 1m
      memory: 32Mi

  registryFacade:
    daemonSet: true
    # in preview envs, we never want DaemonSets not to be scheduled (because they don't trigger scaleup)
    resources:
      cpu: 1m
      memory: 32Mi

  contentService:
    remoteStorage:
      blobQuota: 1073741824 # 1 GiB

  workspace:
    # configure GCP registry
    pullSecret:
      secretName: gcp-sa-registry-auth
    affinity:
      default: "gitpod.io/workload_workspace"
    templates:
      default:
        spec:
          dnsConfig:
            nameservers:
            - 1.1.1.1
            - 8.8.8.8
          dnsPolicy: None   # do NOT query against K8s DNS (https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/)
          env:
          - name: THEIA_PREVENT_METADATA_ACCESS
            value: true
      regular:
        spec:
          containers:
          - name: "workspace"
            env:
            - name: THEIA_RATELIMIT_LOG
              value: "50"
            - name: SUPERVISOR_DEBUG_ENABLE
              value: "true"
      prebuild:
        spec:
          containers:
          - name: workspace
            # Intended to reduce the density for prebuilds
            resources:
              limits:
                cpu: "5"
                memory: 12Gi
              requests:
                cpu: 1m
                ephemeral-storage: 5Gi
                memory: 4608Mi  # = 2 * 2304Mi

  # Enable events trace
  wsManager:
    eventTraceLogLocation: "/tmp/evts.json"

  wsDaemon:
    hostWorkspaceArea: /mnt/disks/ssd0/workspaces
    volumes:
    - name: gcloud-tmp
      hostPath:
        path: /mnt/disks/ssd0/sync-tmp
        type: DirectoryOrCreate
    volumeMounts:
    - mountPath: /mnt/sync-tmp
      name: gcloud-tmp
    userNamespaces:
      fsShift: fuse
      shiftfsModuleLoader:
        enabled: false
      seccompProfileInstaller:
        enabled: true
    # in preview envs, we never want DaemonSets not to be scheduled (because they don't trigger scaleup)
    resources:
      cpu: 1m
      memory: 32Mi

  wsScheduler:
    scaler:
      enabled: true
      controller:
        kind: "constant"
        constant:
          setpoint: 1

  # Enable ws-proxy in dev
  wsProxy:
    useHTTPS: true
    hostHeader: Host
    name: "ws-proxy"
    disabled: false
    replicas: 1
    serviceType: "LoadBalancer"
    ports:
      httpsProxy:
        expose: true
        containerPort: 9090
        servicePort: 443
      httpProxy:
        expose: true
        containerPort: 8080
        servicePort: 80

  imageBuilderMk3:
    # configure GCP registry
    registry:
      name: eu.gcr.io/gitpod-core-dev/registry
      secretName: gcp-sa-registry-auth
      path: gcp-sa-registry-auth
    registryCerts: []


# configure GCP registry
docker-registry:
  enabled: false

rabbitmq:
  # ensure shovels are configured on boot
  disabled: true
  enabled: false

cert-manager:
  enabled: true

dbMigrations:
  disabled: true

db:
  autoMigrate: false
