# Copyright (c) 2020 Gitpod GmbH. All rights reserved.
# Licensed under the MIT License. See License-MIT.txt in the project root for license information.

apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitaly
  labels:
    type: local
    app: gitaly
spec:
  storageClassName: manual
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/gitlab/gitaly"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio
  labels:
    type: local
    app: minio
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/gitlab/minio"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgresql
  labels:
    type: local
    app: postgresql
spec:
  storageClassName: manual
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/gitlab/postgresql"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 8Gi
  selector:
    matchLabels:
      app: postgresql
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis
  labels:
    type: local
    app: redis
spec:
  storageClassName: manual
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/var/gitlab/redis"
