on:
  pull_request:
    paths:
    - install/installer/pkg/components/spicedb/data/**
    - .github/workflows/authorization.yml
name: SpiceDB
jobs:
  scan-repo:
    runs-on: gitpod-runners
    name: Validate schema
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Validate SpiceDB schema
      uses: authzed/action-spicedb-validate@v1.0.1
      with:
        validationfile: "install/installer/pkg/components/spicedb/data/schema.yaml"
