on:
  pull_request_target:
    paths:
      - install/installer/pkg/components/spicedb/data/**
      - .github/workflows/authorization.yml

name: SpiceDB

jobs:
  scan-repo:
    runs-on: ubuntu-latest
    name: Validate schema
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Validate SpiceDB schema
        uses: authzed/action-spicedb-validate@v1.0.1
        with:
          validationfile: "install/installer/pkg/components/spicedb/data/schema.yaml"
