on:
  pull_request:
    paths:
      - components/spicedb/**
      - .github/workflows/authorization.yml

name: SpiceDB

jobs:
  scan-repo:
    runs-on: ubuntu-latest
    name: Validate schema
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # pin@v4
      - name: Validate SpiceDB schema
        uses: authzed/action-spicedb-validate@3c2214196c200ff012a12d4fc12204efa7a3a416 # pin@v1.0.1
        with:
          validationfile: "components/spicedb/schema/schema.yaml"
