name: VS Code Browser updates
on:
  workflow_dispatch:
  workflow_call:

jobs:
    update:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: |
                cd ./components/ide/code/gha-update-image/
                yarn
                npm i -g bun
            - name: Check for updates
              id: update-output
              run: |
                cd ./components/ide/code/gha-update-image/
                bun run index.ts >> $GITHUB_OUTPUT

            - name: Detect file changes
              id: changes
              run: |
                if [ $(git status --porcelain | wc -l) -gt 0 ]; then
                  echo "dirty=true" >> $GITHUB_OUTPUT
                else
                  echo "dirty=false" >> $GITHUB_OUTPUT
                fi
            - name: Create Release Pull Request
              if: ${{steps.changes.outputs.dirty && steps.update-output.ouput.codeVersion}}
              id: code-update-pr
              uses: peter-evans/create-pull-request@v6
              with:
                title: "[VS Code Browser] Update stable code to `${{steps.update-output.ouput.codeVersion}}`"
                body: |
                  ## Description
                  Update code to `${{steps.update-output.ouput.codeVersion}}`

                  ## How to test

                  Should be tested already in build PR, double check:

                  - [ ] Version is pinnable
                  - [ ] Stable version is updated and it can start workspace with it

                  ### Preview status
                  gitpod:summary

                  ## Werft options:

                  - [x] /werft with-preview
                  - [x] /werft analytics=segment
                  - [x] /werft with-large-vm
                commit-message: "[VS Code Browser] Update stable code to `${{steps.update-output.ouput.codeVersion}}`"
                branch: "ide/code-stable"
                labels: "team: IDE,editor: code (browser)"
                token: ${{ secrets.ROBOQUAT_REPO_PAT }}
                committer: Robo Quat <roboquat@gitpod.io>
                author: Robo Quat <roboquat@gitpod.io>
                team-reviewers: |
                  team-experience

            - name: Create Images Update Pull Request
              if: ${{steps.changes.outputs.dirty && !steps.update-output.ouput.codeVersion}}
              uses: peter-evans/create-pull-request@v6
              with:
                  title: "[code] update code image layers"
                  body: |
                      ## Description
                      This PR updates the VS Code Browser image layers to the most recent intaller version.

                      ## How to test

                      Test if changes are working.

                      i.e.
                      - `code-helper` it can start browser code with extensions installed
                      - `gitpod-web-extension` extension functionalities are works well
                      - `code` is not expected it to be changed

                      ### Preview status
                      gitpod:summary

                      ## Werft options:

                      - [x] /werft with-preview
                      - [x] /werft analytics=segment

                  commit-message: "[code] update code image layers"
                  branch: "ide/code-stable"
                  labels: "team: IDE,editor: code (browser)"
                  token: ${{ secrets.ROBOQUAT_REPO_PAT }}
                  committer: Robo Quat <roboquat@gitpod.io>
                  author: Robo Quat <roboquat@gitpod.io>
                  team-reviewers: |
                    team-experience
            # - name: Slack notification (code)
            #   if: ${{ steps.code-update-pr.pull-request-url }}
            #   uses: rtCamp/action-slack-notify@v2
            #   env:
            #       SLACK_WEBHOOK: ${{ secrets.IDE_SLACK_WEBHOOK }}
            #       SLACK_COLOR: ${{ job.status }}
            #       SLACK_TITLE: "VS Code Browser release `${{ steps.update-output.ouput.codeVersion }}`"
            #       SLACK_MESSAGE: "PR is created ${{ steps.code-update-pr.pull-request-url }}"
            #       SLACK_FOOTER: "<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|Workflow logs>"
